body {
  font-family: Helvetica;
}

.header {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("./images/pattern.jpeg");
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.header-brushes {
  background-color: mediumspringgreen;
}

.header-frames {
  background-color: lightcoral;
}

.header-paint {
  background-color: skyblue;
}

.price {
  font-weight: bold;
  color: blue;
}
